<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-black"> Welcome to Race Tracker</h1>
    
  </body>
</html>
